h3{
	color : #000000;
}
.wmd-panel{
	margin-left : 0% !important;
	margin-right: 0% !important;
}

.comment-reply{
	display: none;
	padding-left: 10%;
}
.blockquote{
	padding-left: 10%;
}
.pull-right{
	float: right; 
}
.navbar{
	margin-top: 2%;
	border-radius: 2.25rem;
}
.navbar-nav > .nav-item{
	margin-left: auto;
}