{% load staticfiles %}
<!--DocType-->
<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title%} My Blog {% endblock head_title%}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <script type="text/javascript">
		document.addEventListener('contextmenu', function(e) {
		  e.preventDefault();
		});
		document.onkeydown = function(e) {
		  if(event.keyCode == 123) {
		     return false;
		  }
		  if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
		     return false;
		  }
		  if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
		     return false;
		  }
		  if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
		     return false;
		  }
		  if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
		     return false;
		  }
		}
	</script> -->
	{% block head_extra %} {% endblock head_extra %}
</head>
<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	{% include "message_display.html" %}
	<div class="container">
		<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
			<div class="navbar-nav col-md-12">
				<div class="nav-item col-md-1 {% block active %}{% endblock active %}"><a class="nav-link" href="{% url 'posts:list' %}">Home </a></div> 
				<div class="nav-item col-md-2 {% block createactive %}{% endblock createactive %}"><a class="nav-link" href="{% url 'posts:create' %}">Create Post</a></div>
				<div class="nav-item col-md-1 {% block grafanaactive %}{% endblock grafanaactive %}"><a class="nav-link" href="{% url 'grafana' %}">Grafana </a></div> 

				{% if not request.user.is_authenticated %}
				<div class="col-md-6"></div>
				<div class="col-md-1 nav-item  mr-sm-2"><a class="nav-link" href="{% url 'login' %}">Login</a></div>
				<div class="col-md-1 nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></div>
				{% else %}
				<div class="col-md-6"></div>
				<div class="nav-item nav-link col-md-2 active">Hello {{request.user}}!</div>
				<div class="col-md-1 nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></div>
				{% endif %}
			</div>
		</nav>
		<br/>
		{% block headOfpage %} {% endblock headOfpage %}
		{% block content %}
		{% endblock content %}
	</div>
</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
      $(document).ready(function(){

        $(".content_markdown").each(function(){

            var content = $(this).text();
            var markedContent = marked(content);
            $(this).html(markedContent);
            
        })

        $(".post_detail_item img").each(function(){
            $(this).addClass("img-responsive");
        })

        var titleitem = $("#id_title");
        
        function setTitle(value) {
            $("#preview_title").text(value);
        }
        setTitle(titleitem.val());
        titleitem.keyup(function(){
            setTitle($(this).val());
        })

        var contentitem = $("#id_content");

        function setContent(value) {
            var markedContent = marked(value)
            $("#preview_content").html(markedContent);

            $("#preview_content img").each(function(){
                $(this).addClass('img-responsive');
            })
        }
        setContent(contentitem.val())

        contentitem.keyup(function() {
            var newcontent = $(this).val();
            setContent(newcontent);
        })

        $(".comment-reply-btn").click(function(event){
        	event.preventDefault();
        	$(this).parent().next(".comment-reply").fadeToggle();
        })
    })
  </script>
</script>
</html>