{% extends "base.html" %}
{% load urlify %}
{% block head_title %} {{ obj.title}} | {{block.super}} {% endblock head_title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
<div class="col-sm-12" style="padding-left: 10%;">
	<h3>{{title}}  <small>{% if obj.draft %} <span style="color: red;">Draft</span>{% endif %}{{obj.publish}}</small></h3>
	{% if obj.image %}
	<img src='{{ obj.image.url }}' class="img-responsive" />
	{% endif %}
	<div style="float: right;"><a href="{{obj.get_abs_editurl}}" class="btn btn-primary" role="button"> Edit </a> or <a href="{{obj.get_abs_deleteurl}}" class="btn btn-primary" role="button"> Delete </a> </div>
	<p>Author : {{obj.user}}</p>
	<hr/>
	<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></p>
	<!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
	Facebook
	</a>
	<a href="https://twitter.com/home?status={{share_str}}%20{{ request.build_absolute_uri }}" target="_blank">
	Twitter
	</a>
	<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{obj.title}}" target="_blank">Reddit</a> -->
	<div class="post_detail_item">
		<p name="content">{{ obj.get_markdown }}<br/></p>
	</div>
	<div>
		<p class="lead"> Comments</p>
		<form method="POST" action=".">{% csrf_token %}
		{{comment_form|crispy}}
		<input type="submit" name="" value="Post Comment" class="btn btn-default">
		</form>
		<hr/>
			{% for comment in comments %}

			<blockquote class="blockquote">
			  <p class="mb-0">{{comment.content}}</p>
			  <footer class="blockquote-footer">By {{comment.user}} | {{comment.timestamp|timesince}} ago | {% if comment.children.count > 0 %} {{ comment.children.count}} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}</cite><a class="comment-reply-btn" href="#"> Reply</a></footer>
			  <div class="comment-reply">
			  {% for child_comment in comment.children %}
				<blockquote class="blockquote">
				  <p class="mb-0">{{child_comment.content}}</p>
				  <footer class="blockquote-footer">By {{comment.user}} | {{comment.timestamp|timesince}} ago </cite></footer>

				</blockquote>
			  {% endfor %}

				<form method="POST" action=".">{% csrf_token %}
					{{comment_form|crispy}}
					<input type="hidden" name="parent_id" value="{{comment.id}}">
					<input type="submit" name="" value="Reply" class="btn btn-default">
				</form>
			  </div>

			</blockquote>
			<hr/>
			{% endfor %}
	</div>
	<!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri}}" data-numposts="5"></div> -->
</div>
</div>
{% endblock content %}