{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% block createactive %}active {% endblock createactive %}
{% block headOfpage %} Create a Post {% endblock headOfpage %}
{% block head_extra %} {{form.media}} {% endblock head_extra %}
{% block content %}
<!-- {{ block.super }} -->
<div class="row">
<div class="col-sm-5" style="padding: 2%;">
	<form method="POST" action='' enctype="multipart/form-data">{% csrf_token %}
		{{form|crispy}}
		<!-- <input type="text" name="title"/>
		<input type="textarea" name="content"/>
		<input type="file" name="image" accept="image/*" /> -->
		<input class="btn btn-default centre" type="submit" name="createPost">
	</form>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-5" style="padding: 2%;">
	<!-- <h3>Form</h3> -->
	<h3>Preview</h3>
	<div class="content_preview">
		<h3 id="preview_title"></h3>
		<p id="preview_content"></p>
	</div>
</div>
</div>
{% endblock content %}